@import "../../styles/base/_variables.scss";

.listHistory-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    // align-items: center;
    margin-top: $margin-md;

    .undo-redo-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .history-container {

        h2 {
            text-align: center;
        }

    
    }
}