@import "../../styles/base/_variables.scss";

.listHistory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $margin-sm;

  .undo-redo-buttons {
    display: flex;
    align-items: center;
    margin-bottom: $margin-sm;

    .btn {
        background-color: $info-color;
      &:hover {
        background-color: $success-color;
        outline: none;
      }

      &:disabled {
        background-color: $disabled-color;
        cursor: not-allowed;
      }
    }
  }

  .history-container {
    // border: 1px solid gray;
    padding: $padding-sm;
    width: 100%;

    h2 {
      text-align: center;
      font-size: $font-lg;
      margin-bottom: $margin-sm;
    }
  }

  ul {
    li {
      display: flex;
      //   justify-content: space-between;
      //   align-items: center;
      //   margin-bottom: $margin-sm;
      padding: $padding-sm;
      //   margin: 2rem;
      border-bottom: 2px solid $default-color;

      .index-todo {
        margin-right: $margin-sm;
      }

      .right {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;

        p {
          //   margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: $font-sm;
          background-color: $hl-bg-color;
          padding: $padding-sm;
          border-radius: $border-radius-sm;

          i {
            padding: 0.1rem;
            font-weight: 800;
          }

          .green {
            color: green;
          }
          .red {
            color: red;
          }
        }
      }
    }
  }
}
