
// Global variables
$primary-color: #2E3840;
$secondary-color: #7DB9B6;
$danger-color: #EB455F;
$tl-bg-color: #F5EA5A;
$hl-bg-color: #EDEDED;
$font-size: 16px;

// Import other scss files
// @import "mixins";
@import "./base/variables";
@import "./base/_typography";
@import "./base/reset";

// Global styles
body {
  font-family: $font-family-base;
  font-size: $font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-normal;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    color: $secondary-color;
  }
}
