@import "../../styles/base/variables";

.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: $margin-md 0 ;

    input[type="text" i] {
      width: 100%;
      border: none;
      outline: none;
      text-indent: $font-sm;
      font-size: $font-md;
    }
  }
  .hr {
    border: 1px solid $default-color;
    width: 100%;
    height: 1px;
  }
}
