@import "./styles/base/variables";

.todo-app {
  display: flex;
  flex-direction: column;
  margin: $margin-sm auto;
  padding: $padding-sm;
  max-width: 500px; 

}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    // position: relative;
}

.search-filter {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid $default-color;
  margin-top: $margin-sm;
  margin-bottom: $margin-sm;

  div {
    display: flex;
  }
}

@media only screen and (min-width: 600px) {
  .todo-app {

  }

}
